<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="soup.movie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MovieApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="true" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@style/AppTheme.Splash"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/kakao_scheme"
                    android:host="@string/kakaolink_host" />
            </intent-filter>

            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".ui.detail.DetailActivity"
            android:theme="@style/AppTheme.Detail"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.detail.timetable.TimetableActivity"
            android:theme="@style/AppTheme.Timetable" />
        <activity
            android:name=".ui.theater.sort.TheaterSortActivity"
            android:theme="@style/AppTheme.TheaterSort"
            android:label="@string/theater_sort_title" />
        <activity
            android:name=".ui.theater.edit.TheaterEditActivity"
            android:theme="@style/AppTheme.TheaterEdit"
            android:label="@string/theater_edit_title" />
        <activity
            android:name=".ui.theme.ThemeBookmarkActivity"
            android:label="@string/theme_bookmark_title"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${filesAuthority}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/glide_disk_cache_path" />
        </provider>
    </application>

</manifest>
